<!-- <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'> -->
<div id="container">
<div id="title">Dating Mad Libs!</div>
	<div id="_form">
	<%= form_for(@story, remote: true) do |f| %>
		<div class="fields">
		<% if @template.nouns != nil %>		
			<%= f.label :noun %>
			<%= f.text_field :noun, placeholder: :noun, autofocus: true, required: true %>
			<% if @template.nouns == 2 %>			
			<%= f.label :noun %>
			<%= f.text_field :noun2, placeholder: :noun, required: true %>
			<% elsif @template.nouns == 3 %>
			<%= f.label :noun %>
			<%= f.text_field :noun3, placeholder: :noun, required: true %>
			<% end %>
		<% end %> 
		<%= hidden_field_tag :empty_template, @template.sentence %>
		
		<%= f.submit %>
		</div>
	<% end %>
	</div>

	<div id="stories">
		
		<% @stories.each do |story| %>
		
	<li data-id='<%= story.id %>'><%= story.proper_noun %> <%= story.verb %> over the <%= story.adjective %> <%= story.noun %>.
</li>

		<% end %>
		
	</div>

</div>